*
{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body
{
    background-image: url("pxfuel\ \(1\).jpg");
    background-repeat:no-repeat;
    background-size:cover;

    /* Center the child div */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame
{
    height: 650px;
    width: 460px;
    background-color: rgb(39, 42, 48);
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(4, 10, 12), -1px -1px 2px rgb(0, 0, 0);      /* "-" means shadow on top and left.*/
    border-radius: 20px;
}

.heading
{
    color: rgb(148, 212, 148);
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

#display
{
    height: 90px;
    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    background: transparent;
    /* box-shadow: inset 1px 1px 2px #92927f,inset -5px -5px 10px rgb(4, 10, 12);         Shadow inside the box. */
    font-size: 30px;
    padding: 10px;
    /*After using padding right part of this box will came out. */
    /*To manage this issue we will use [box-sizing: border-box]*/
    box-sizing: border-box;
    text-align: right;
    border-radius: 7px;
}


.buttons-group
{
    display: flex;                     /*Altho all the buttons are in same line.*/
    justify-content: space-around;      /*Buttons will take spaces btw them*/
}

.button
{
    height: 85px;
    width: 85px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px #000000, -1px -1px 10px #92927f;
    margin-bottom: 15px;
    border-radius: 40px;
    font-size: 25px;
    color: white;
    background-color:rgb(39, 42, 48);
}

.button:active
{
    box-shadow:inset 1px 1px 2px #babeec, inset -1px -1px 2px #ffffff;
    
}

.button:hover
{
    background-color: rgb(54, 31, 31);
    color:white;
    cursor: pointer;
}

.operations
{
    background-color: rgb(39, 42, 48);
    color: orange;
}

.operation
{
    background-color: rgb(211, 140, 9);
    color: #ffffff;
}